<div id="header">

    <div class="header-logo"></div>

    <nav class="navbar navbar-expand navbar-light mb-3 d-none d-md-flex">
        <div class="container-fluid">

            <div class="navbar-collapse justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Menu" asp-action="Index">Menu</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Retail" asp-action="Index">Retail</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="About" asp-action="Index">About</a>
                    </li>
                </ul>

                <div id="bagSummary" class="text-light">
                    <vc:bag-summary-icon></vc:bag-summary-icon>
                </div>
            </div>
        </div>
    </nav>

    <div id="mobile-menu-icon" class="mobile-menu-closed d-block d-md-none">
        <i class="bi bi-list menu-closed"></i>
        <i class="bi bi-x menu-opened"></i>
    </div>

    <div id="mobile-menu">
        <div class="navbar-collapse justify-content-between">
            <ul class="navbar-nav flex-grow-1">
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Menu" asp-action="Index">
                        <i class="bi bi-cup-hot-fill me-2"></i>
                        Menu
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Retail" asp-action="Index">
                        <i class="bi bi-shop-window me-2"></i>
                        Retail
                    </a>
                </li>
                <li class="nav-item">
                    <vc:bag-summary-icon></vc:bag-summary-icon>
                </li>
                <li class="nav-item border-top">
                    <a class="nav-link text-dark" asp-area="" asp-controller="About" asp-action="Index">About</a>
                </li>
            </ul>
        </div>
    </div>
</div>