<h2 mat-dialog-title>Options</h2>

<mat-dialog-content>
  <mat-form-field class="w-full">
    <mat-label>Pigeon Milk</mat-label>
    <mat-select [(ngModel)]="pigeonMilk">
      <mat-option [value]="0">0</mat-option>
      <mat-option [value]="1">1</mat-option>
      <mat-option [value]="2">2</mat-option>
      <mat-option [value]="3">3</mat-option>
      <mat-option [value]="4">4</mat-option>
    </mat-select>
  </mat-form-field>
  <br />
  <mat-form-field class="w-full">
    <mat-label>Sugars</mat-label>
    <mat-select [(ngModel)]="sugars">
      <mat-option [value]="0">0</mat-option>
      <mat-option [value]="1">1</mat-option>
      <mat-option [value]="2">2</mat-option>
      <mat-option [value]="3">3</mat-option>
      <mat-option [value]="4">4</mat-option>
    </mat-select>
  </mat-form-field>

  <div class="grid grid-cols-2 mb-2">
    <div>Calories</div>
    <div class="text-right">
      {{ calories }}
    </div>
  </div>

  <div class="grid grid-cols-2">
    <div>Total</div>
    <div class="text-right font-bold">
      ${{ price }}
    </div>
  </div>

</mat-dialog-content>

<mat-dialog-actions>
  <button mat-button (click)="cancel()">Cancel</button>
  <button mat-button (click)="saveSelection()">Done</button>
</mat-dialog-actions>
