<div class="spinner-container" *ngIf="loading">
  <mat-spinner class="mat-spinner-color"></mat-spinner>
</div>

<div *ngIf="menuSections && menuSections.length">
  <div class="menu-category" *ngFor="let section of menuSections">
    <div class="menu-category-title">{{ section.category }}</div>

    <div class="menu-item w-1/2 md:w-1/3 lg:w-1/4" *ngFor="let item of section.items">
      <div class="menu-item-image" style="background: url('{{item.images[0].absoluteUri}}');"></div>
      <div class="menu-item-name">{{ item.itemName }}</div>
      <button mat-flat-button (click)="addToBag(item)">Customize</button>
    </div>
    <div class="clear-both"></div>
  </div>
</div>
