#bag-items {
  .menu-item {
    margin-bottom: 20px;
    border-bottom: solid 1px #ccc;

    img {
      width: 130px;
      float: left;
    }

    .menu-item-name {
      font-size: 15px;
      font-weight: 500;
      margin-top: 10px;
    }

    .menu-item-price {
      font-size: 20px;
      color: #768089;
      margin-top: 10px;
      margin-bottom: 15px;
    }

    .menu-item-image {
      height: 100px;
      width: 100px;
      background-position: center center !important;
      background-repeat: no-repeat !important;
      background-size: cover !important;
      margin: auto;
      margin-right: 15px;
      border-radius: 300px;
      display: inline-block;
      float: left;
    }
  }

  .menu-item:last-child {
    border-bottom: none;
  }

  .remove-button {
    float: right;
  }
}
