@model Roost.Web.Mvc.Models.OrderModel

@{
    ViewData["Title"] = "Order Submitted";
}

<div class="alert alert-primary mt-5" role="alert">
    <h5>Woo hoo!</h5>
    <p>You order is in, @Model.Name! We'll see you when you arrive.</p>
</div>