@model Roost.Web.Mvc.Models.BagSummaryModel

<a class="nav-link" asp-area="" asp-controller="Bag" asp-action="Index">
    <i class="bi bi-bag-fill me-2"></i>
    Bag (<span class="bagFillQuantity">@Model.Items.Count()</span>)
</a>